root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  cmd = "templ generate && go build -o ./tmp/main ./cmd/server/main.go"
  delay = 500
  exclude_dir = ["tmp", "vendor", "testdata", "node_modules", ".git", "bin"]
  exclude_file = ["README.md"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = true
  follow_symlink = false
  include_dir = ["cmd", "internal", "ui", "app"]
  include_file = ["go.mod", "go.sum", ".air.toml"]
  include_ext = ["go", "templ", "yaml", "yml"]
  poll = true
  poll_interval = 500
  full_bin = ""
  kill_delay = "0s"
  log = "build-errors.log"
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_root = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
